[req]
default_bit = 2048
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = CA
stateOrProvinceName     = Ontario
localityName            = Toronto
organizationName        = LocalPiHole
commonName              = pi.hole